<div class="wrapper">
	<div class="mv-image">
		<div class="mv-image-transparent">
			<div class="container ">
				<h2>ようこそTRAVEL MEMO APPへ</h2>
			</div>
			<div class="col-box-1">
				<p>TRAVEL MEMO APPへようこそ</p>
				<br>
				<p>このメモアプリは完全無料で利用できます。</p>
				<p>ご自身の旅行で起こった過去の出来事や注意点、</p>
				<p>または未来の旅行についてこのアプリで予定を立てるのにも使えます。</p>
				<br>
				<p>ぜひ、ご活用ください。</p>
			</div>
			<div class="col-box-3">
				<%= link_to "新規登録" , new_users_path, method: :get, class: "btn-100" %>
					<%= link_to "ログイン" , new_sessions_path, method: :get, class: "btn-100" %>
			</div>
		</div>
	</div>
</div>